<h1>Search</h1>
<div>
    <mat-card class="m-auto search-card">
        <mat-card-content>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>
                    Search by name, status or nickname...
                </mat-label>
                <input matInput placeholder="Search by name, status or nickname..." [formControl]="searchControl"
                    (input)="messangerEmitter.next($event.target.value)" />
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <div class="container mt-4 text-center">
        <app-characters></app-characters>
    </div>
</div>